<div class="row my-5 container">
    <div class="offset-sm-1 col-sm-5">
        <h2>Contact Us...</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In aperiam assumenda cupiditate explicabo. Hic natus debitis amet saepe, totam, inventore iure minima, quisquam impedit ex aliquam quibusdam? Error quis tempore provident nam quam, fuga, minus vel consequatur consectetur numquam temporibus reiciendis fugit veniam qui culpa exercitationem! Ducimus consectetur quos praesentium!
        </p>
    </div>
    <div class="col sm-5">
        <form action="">
            <h3>Ask me...</h3>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Name">
            </div>
            <div class="form-group">
                <input type="email" class="form-control" placeholder="email">
            </div>
            <div class="form-group">
                <textarea class="form-control" cols="30" rows="10">Enter your queries...</textarea>
            </div>
        </form>
    </div>
</div>